.section-border-right {
    border-right: 1px solid #575757;
}

.section-border-bottom {
    border-bottom: 1px solid #575757;
}

footer {
    background-color: #3C3C3B;
}

.email-input-wrapper {
    position: relative;
}

.subscribe-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
}