<section>
    <div class="cart-panel w-25 ms-auto p-5 bg-white h-100">
        <div class="close-btn-wrapper text-end pb-2">
            <a href="" class="text-dark text-decoration-none">
                <img src="../../assets/close-icon.png" alt="Close Cart">
            </a>
        </div>
        <h3 class="text-center pb-4 text-mine-secondary fw-bold">My Cart</h3>
        <h5 class="fw-bold pb-4">Cart Summary</h5>
        <div class="cart-item rounded rounded-2 p-2">
            <div class="d-flex align-items-center">
                <div class="item-img-wrapper">
                    <img src="../../assets/cart-product-img.png" alt="Product Image" class="rounded-mine">
                </div>
                <div class="item-info-wrapper px-4">
                    <p class="fw-bold p-0 m-0">
                        Lorem ipsum dolo ist amet, consecte adipiscing elit.
                    </p>
                    <p class="p-0 m-0 py-2">Quantity: 1</p>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center text-mine-secondary">
                            <h5 class="m-0 p-0 fw-bold">9,999</h5>
                            <h6 class="m-0 p-0 px-2">LE</h6>
                        </div>
                        <a href="" class="fw-bold bg-mine-primary text-decoration-none text-dark px-3 py-1 rounded-pill">Remove</a>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="text-center fw-bold py-4">Total: 19,999 LE</h4>
        <div class="row justify-content-evenly">
            <div class="col-md-6 p-2">
                <a href="" class="d-inline-block w-100 text-center fw-bold bg-mine-primary text-decoration-none text-dark py-3 rounded-pill">Review Cart</a>
            </div>
            <div class="col-md-6 p-2">
                <a href="" class="d-inline-block w-100 text-center fw-bold bg-mine-secondary text-decoration-none text-white py-3 rounded-pill">Complete Checkout</a>
            </div>
        </div>
    </div>
</section>